<section class="section-projects flex-column align-items-center">
  <h2 class="title">La Rural Buenos Aires</h2>
  <div class="card w-100">
    <header class="card-title">
      <h5>Acondicionamiento del Pabellón Ocre</h5>
    </header>
    <main class="flex-row justify-around align-items-end flex-wrap">
      <div class="card-img flex-row">
        <button class="card-btn">Ver Proyecto</button>
        <img src="../../../assets/imgs/projects/larural2.jpg" alt="" />
      </div>
      <div class="contain-wrapper">
        <div class="card-contain flex-column">
          <img src="../../../assets/imgs/projects/logolarural2.png" alt="" />
        </div>
      </div>
    </main>
  </div>
  <div class="card w-100">
    <header class="card-title">
      <h5>390 mts de telones</h5>
    </header>
    <main class="flex-column justify-around align-items-center">
      <div class="card-img flex-row">
        <button class="card-btn">Ver Proyecto</button>
        <img src="../../../assets/imgs/projects/larural.jpg" alt="" />
      </div>
      <!-- <div class="contain-wrapper">
        <div class="card-contain flex-column">
          <img src="../../../assets/imgs/projects/logolarural2.png" alt="" />
        </div>
      </div> -->
    </main>
  </div>
  <h2 class="title">Film: Las Pulsiones De Yamyla</h2>
  <div class="card w-100">
    <header class="card-title">
      <!-- <h5>Film: Las Pulsiones De Yamyla</h5> -->
    </header>
    <main class="flex-row justify-around align-items-end flex-wrap">
      <div class="card-img flex-row">
        <button class="card-btn">Ver Proyecto</button>
        <img src="../../../assets/imgs/projects/movie.jpg" alt="" />
      </div>
      <div class="contain-wrapper">
        <div class="card-contain flex-column">
          <img src="../../../assets/imgs/projects/logolarural2.png" alt="" />
        </div>
      </div>
    </main>
  </div>

  <h2 class="title">Realización con tela para producción audiovisual</h2>
  <div class="card w-100">
    <!-- <header class="card-title">
      <h5>Acondicionamiento del Pabellón Ocre</h5>
    </header> -->
    <main class="flex-column justify-around align-items-center flex-wrap">
        <div class="card-img flex-row">
          <button class="card-btn">Ver Proyecto</button>
          <img src="../../../assets/imgs/projects/audiovisual2.jpg" alt="" />
        </div>
      <div class="card-img flex-row">
        <button class="card-btn">Ver Proyecto</button>
        <img src="../../../assets/imgs/projects/audiovisual3.jpg" alt="" />
      </div>
      <div class="card-img flex-row">
        <button class="card-btn">Ver Proyecto</button>
        <img src="../../../assets/imgs/projects/audiovisual.jpg" alt="" />
      </div>
    </main>
  </div>
</section>
