$color-deap-blue: #3a4a82;
$color-pastel-blue: #a9bfbb;
$color-dark-red: #9c2621;
$color-elegant-black: #101011;
$color-classic-white: #ffffff;

$padding-inline-section: 1.5em;
$padding-block-section: 5em;

$fs-title: 3em;
$fs-subtitle: 1.5em;
